body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.mdb--status {
  color: grey;
  margin-left: 5px;
  text-transform: uppercase;
}

.mdb--status.success {
  color: green;
}

.mdb--status.warning {
  color: red;
}

.mdb--info {
  color: grey;
}
